/*Geral*/
	/*
		amarelo: #fec63e
	*/
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

.btn {
	display: block;
	height: 40px;
	width: 140px;
	border: 3px solid #fec63e;
	color: #fec63e;
	margin: 0 auto;
	padding: 8px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}

.btn:hover {
	color: #fff;
	border-color: #fff;
}

h2 {
	font-size: 24px;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 40px 0;
}

h2:after {
	content: "";
	display: block; 
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 4px auto;
}

/*Header*/

.header {
	width: 100%;
	background-color: #fec63e;
	padding: 10px 0;
	position: fixed;
	top: 0; 
	z-index: 10000;
}

.header-menu {
	text-align: right;
}

.header-menu ul li{
	display: inline-block;
	margin-left: 15px;
	padding: 20px 0;
}

.header-menu ul a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .1em;
	padding: 10px 0; /* p/ aumentar a area de click*/
}

.header-menu ul a:hover {
	color: #fff;
}
/*Intro Home*/
.home {
	margin-top: 86px;
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 380px;
	width: 100%;
	text-align: center;
}

.intro h1 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .02em;
	font-size: 48px;
	margin-top: 80px;
}

.intro blockquote {
	max-width: 360px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.intro-quote p {
	font-style: italic;
}

.intro-quote cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}

.title-bar {
	display: block; /*Propriedade importante*/
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 15px auto 15px auto;
}

/* É possível fazer o mesmo estilo do title-bar com as pseudo-classes before e after.

.intro-quote p:before p:afer {
	content: ""
	display: block; 
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 15px auto 15px auto;
}
*/

/*Produtos*/

.produtos {
	text-align: center;
	height: 600px;
	width: 100%;
}

.passeio, .esporte, .retro {
	height: 320px;
	background-color: #000;
}


/*Footer*/