/*Geral start*/
	/* amarelo: #fec63e	*/

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

.btn {
	display: block;
	height: 40px;
	width: 140px;
	border: 3px solid #fec63e;
	color: #fec63e;
	margin: 0 auto;
	padding: 8px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}

.btn:hover {
	color: #fff;
	border-color: #fff;
}

.btn-preto:hover {
	color: #000;
	border-color: #000;
}

.subtitulo {
	text-align: center;
	font-size: 24px;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 40px;
}

.subtitulo:after {
	content: "";
	display: block; 
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 4px auto;
}

.subtitulo-amarelo:after {
	background-color: #fec63e;
}

.sub-bar:after {
	content: "";
	display: block; 
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 4px auto;
}

img {
	display: block;
}
/*Geral-end*/

/*Header-start*/
.header {
	width: 100%;
	background-color: #fec63e;
	padding: 10px 0;
	position: fixed;
	top: 0; 
	z-index: 10000;
}

.header-menu {
	text-align: right;
}

.header-menu ul li{
	display: inline-block;
	margin-left: 15px;
	padding: 20px 0;
}

.header-menu ul a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .1em;
	padding: 10px 0; /* p/ aumentar a area de click*/
}

.header-menu ul a:hover {
	color: #fff;
}
/*Header-end*/

/*Intro Home*/
.home {
	margin-top: 82px;
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 380px;
	width: 100%;
	text-align: center;
}

.intro h1 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .02em;
	font-size: 48px;
	margin-top: 80px;
}

.intro blockquote {
	max-width: 360px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.intro-quote p {
	font-style: italic;
}

.intro-quote cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}

.title-bar {
	display: block; /*Propriedade importante*/
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 15px auto 15px auto;
}

/* É possível fazer o mesmo estilo do title-bar com as pseudo-classes before e after.

.intro-quote p:before p:afer {
	content: ""
	display: block; 
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 15px auto 15px auto;
}
*/

/*Produtos-home-start*/
.produtos {
	text-align: center;
	height: 600px;
	width: 100%;
	padding: 60px 0;
}

.produtos-lista li h3{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	margin: 15px 0;
}

.produtos-lista li h3:after {
	content: "";
	display: block; 
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 4px auto;
}

.produtos-lista li p {
	padding:0 20px 20px 20px;
}

.produtos-icon {
	height: 200px;
	background-color: #000;
	padding: 25px;
}

.passeio, .esporte, .retro {
	height: 320px;
	background-color: #fec63e;
}

.call-to-action {
	text-align: center;
	padding-top: 40px;
	/*padding-bottom: 60px;*/
	clear: both;
}

.call-to-action p {
	margin-bottom: 10px;
}
/*Produtos-home-end*/

/*Portfolio-home-start*/
.portfolio {
	text-align: center;
	background-color: #000;
	color: #fec63e;
	width: 100%;
	padding: 60px 0 40px 0;
}

.portfolio ul li:last-child {
	margin-top: 20px;
}

.portfolio .call-to-action p {
	color: #fff;
}
/*Portfolio-home-end*/
/*Qualidade-home-start*/
.qualidade {
	text-align: center;
	padding: 60px 0 40px 0;
}

.qualidade img {
	margin: 0 auto;
}

.qualidade ul li {
	padding: 0 40px;
}

.qualidade li h3{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	margin: 15px 0;
}

.qualidade li h3:after {
	content: "";
	display: block; 
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 4px auto;
}
/*Qualidade-home-end*/
/*quebra-start*/
.footer-quote {
	background: url(../img/bg-footer.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	padding: 40px 0;
}
.footer-quote blockquote {
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
}

.footer-quote p {
	font-style: italic;
}

.footer-quote .title-bar {
	background-color: #fff;
}

.footer-quote cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}
/*quebra-end*/
/*Footer-start*/
.footer {
	width: 100%;
	background-color: #000;
}

.footer li p, .contato li {
	color: #fff;
}

.contato li {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

.footer-historia p {
	padding-right: 40px;
}

.footer li h3{
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	margin: 15px 0;
	color: #fec63e;
}

.footer li h3:after {
	content: "";
	display: block; 
	background-color: #fec63e;
	height: 3px;
	width: 70px;
	margin: 4px 0;
}

.redes-sociais li {
	display: inline-block;	
	margin-right: 10px;
}

.redes-sociais li a{
	display: block;
	border: #fec63e solid 3px;
	padding: 5px;
}

.redes-sociais li a:hover {
	border-color: #fff;
}

.redes-sociais img {
	margin: 0 auto;
}

.copy {
	color: #000;
	background-color: #fec63e;
	height: 60px;
	padding: 17px 0;
	margin-top: 20px;
}

.copy p {
	margin-left: 10px;
}
/*Footer-end*/

/*Sobre-start*/
.sobre-intro {
	margin-top: 82px;
	text-align: center;
	padding: 60px 40px;
	width: 100%;
	background: url(../img/bg-sobre.jpg) no-repeat center;
	background-size: cover;
}

.sobre-intro h2 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .02em;
	font-size: 36px;
	color: white;
}

.sobre-intro p {
	margin-top: 10px;
	color: white;
}

.sobre-intro h2:after {
	content: "";
	display: block; 
	background-color: #fff;
	height: 3px;
	width: 70px;
	margin: 4px auto;
}

.sobre {
	padding-top: 60px;
}

.sobre h3 {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: .08em;
	font-weight: bold;
}

.sobre h3:after {
	content: "";
	display: block; 
	background-color: #000;
	height: 3px;
	width: 70px;
	margin: 6px 0 12px 0;
}

.sobre p, .valores li {
	font-size: 18px;
	line-height: 25px;
	letter-spacing: .02em;
	font-family: Arial;
}

.historia p {
	padding-right: 35px;
}

.valores li {
	margin-bottom: 4px;
}

.equipe {
	margin-top: 40px;
}
/*Sobre-end*/